html {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 2;
}


h1, h2, h3 {
    font-family: "Playfair", serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    /* display: block; */
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
    color: rgb(132, 160, 210);
}


.contenedor-navegacion{
    border-top: 1px solid grey;

}

.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-principal a {
    color: black;
    text-decoration: none;
}


.hero {
    background-image: url(../curso.flexbox/img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    
}

/* CATEGORIAS */


.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: rgb(132, 160, 210);
    color: white;
    border-bottom-right-radius: 10px;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}


/* SOBRE NOSOTROS */

.sobre-nosotros {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(132, 160, 210);
    margin-top: 20px;
    color: white;
}

.imagen-sobre-nosotros {
    width: 50%;
    height: 50%;
}

.foto {
    width: 100%;
}

.info-sobre-nosotros {
   flex: 1;
   margin-left: 20px;
}


/* PRODUCTOS  */

main > h2 {
    text-align: center;
}

.texto-producto h3 {
    font-size: 30px;
    font-weight: 200;
}

.contenido-principal {
    padding-top: 10px;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10% ;
    margin-right: 10%;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
}

.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}



.producto {
    text-align: center;
    align-items: center;
    background-color: rgb(132, 160, 210);
    padding:  10px 10px;
    
}


.texto-producto {
    text-align: center;
    color: white;
    padding: 20px;
}

.precio {
    font-size: 20px;
    font-weight: 900;
}


.texto-producto a {
    background-color: #8cbc00;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: background-color .3s ease-out;
}



.texto-producto a:hover {
    background-color: #769c02;
}



/* footer  */


.footer {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    gap: 15%;
}

.derechos-footer {
    padding-top: 10px;
    text-align: center;
}