.contenedor-navegacion{
    border-top: 1px solid grey;

}

.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-principal a {
    color: black;
    text-decoration: none;
}


.hero {
    background-image: url(/images/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    
}