<section class="contenedor categorias">
            <h2>Categorías de <span> Productos </span></h2>

        <div class="listado-categorias">
            <div class="categoria">
                <img src="/images/categoria1.jpg" alt="imagen Categoria">
                <a href="#">Oficina</a>
            </div>

            <div class="categoria">
                <img src="/images/categoria2.jpg" alt="imagen Categoria">
                <a href="#">Hogar</a>
            </div>

            <div class="categoria">
                <img src="/images/categoria3.jpg" alt="imagen Categoria">
                <a href="#">Cocina</a>
            </div>
        </div>
                </section>


                <section class="sobre-nosotros">
                    <div class="imagen-sobre-nosotros"> 
                        <img  class="foto"    src="/images/categoria1.jpg" alt="categoria">
                    </div>
                    <div class="info-sobre-nosotros">
                        <h2>Sobre Nosotros</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste accusamus impedit dolore ipsum reiciendis ullam modi, expedita consectetur distinctio commodi aspernatur? Dolor, ullam atque. Quas, sed necessitatibus! Blanditiis, expedita!</p>
                    </div>
                </section>