<footer>
    <div class="footer">
    <div class="categoria-footer">
        <h3>Categorías</h3>
        <nav>
            <a href="#">Cocina</a>
            <a href="#">Oficina</a>
            <a href="#">Jardín</a>
            <a href="#">Cochera</a>
            <a href="#">Dormitorio</a>
        </nav>
    </div>

    <div class="sobre-nosotros-footer">
        <h3>Sobre Nosotros</h3>
        <nav>
            <a href="#">Nuestra Historia</a>
            <a href="#">Misión, Visión y Valores</a>
            <a href="#">Carreras</a>
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos del servicio</a>
        </nav>
    </div>

    <div class="soporte-footer">
        <h3>Soporte</h3>
        <nav>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Ayuda en Línea</a>
            <a href="#">Privacidad</a>
        </nav>
    </div>
</div>

<div class="derechos-footer">
    <p>Todos los derechos Reservados, Tiendamuebles</p>
</div>
</footer>