<main class="cotenido-principal ">
    <h2>Nuestros Productos</h2>


    <div class="listado-productos">

        <div class="producto">
            <img src="/images/producto1.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                <p class="precio">$1.000.000</p>
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->

        <div class="producto">
            <img src="/images/producto2.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 2</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                <p class="precio">$1.000.000</p>
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->

        <div class="producto">
            <img src="/images/producto3.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 3</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                <p class="precio">$1.000.000</p>
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->

        <div class="producto">
            <img src="/images/producto4.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 4</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                <p class="precio">$1.000.000</p>
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->

        <div class="producto">
            <img src="/images/producto5.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 5</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                <p class="precio">$1.000.000</p>
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->

        <div class="producto">
            <img src="/images/producto6.jpg" alt="Imagen Producto">
            <div class="texto-producto">
                <h3>Producto 6</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores debitis minima atque accusamus velit, quidem maxime voluptates quibusdam, cumque reiciendis soluta deserunt quos doloribus quaerat excepturi enim recusandae provident ea?
                </p>
                
                <p class="precio">$1.000.000</p>
            
                <a href="">Agregar al carrito</a>
            </div> <!--INFO DEL PRODUCTO -->
        </div> <!--PRODCUTO -->
    </div>  <!-- FIN DE LISTADO DE PRODUCTOS -->
</main>